files:
  "/etc/nginx/conf.d/elasticbeanstalk/01-ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      listen 443 ssl;
      ssl_certificate /etc/letsencrypt/live/backend.ntusu.org/fullchain.pem
      ssl_certificate_key /etc/letsencrypt/live/backend.ntusu.org/privkey.pem