h2 {
    width: 100%;
    padding-bottom: 2px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, .4); 
}

h3 > code {
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

li > code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

pre > code {
    padding: 0px;
    color: blue;
    background-color: none;
    border: none;
}

pre {
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #eeeeee;
    background-color: rgb(253, 253, 253);
}

p {
    margin: 0 0 10px;
    text-align: justify;
    text-justify: inter-word;
}
